<div class="container">
  <h2>Rechercher une formation</h2>

  <input 
    #searchInput
    type="text" 
    (input)="onSearchChange($event.target.value)"
    placeholder="Entrez un mot-clé (ex: Angular, Java)..." 
    class="form-control mb-3"
  />

  <div class="row">
    <div class="col-md-6 mb-4" *ngFor="let f of filteredFormations$ | async; trackBy: trackById">
      <div class="card h-100">
        <div class="card-header bg-primary text-white">
          <h5 class="mb-0">{{ f.titre }}</h5>
        </div>
        <div class="card-body">
          <p><strong>Niveau :</strong> {{ f.niveau }}</p>
          <p><strong>Durée :</strong> {{ f.chargeHoraire }}h</p>
          <p><strong>Tags :</strong> 
            <span class="badge bg-secondary me-1" *ngFor="let t of f.tags.split(',')">{{ t.trim() }}</span>
          </p>
          <p class="text-muted">{{ f.description | slice:0:100 }}...</p>
        </div>
        <div class="card-footer text-end">
          <button class="btn btn-sm btn-primary" [routerLink]="['/public/formations', f.id]">
            Voir détail
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="(filteredFormations$ | async)?.length === 0" class="alert alert-warning text-center">
      
      <p >Aucune formation trouvée!!!</p>
    </div>
  </div>
</div>